.footer {
  background-color: #f5f8fd;

}

.footer-items {
  padding: 30px 0;
  display: flex;
  flex-direction: column;

  .contact-info {
    width: 100%;
  }
}

.copyright {
  text-align: center;
  margin: 0;
  padding: 10px 0px;

  span {
    color: #24425a;
    cursor: pointer;

    &:hover {
      color: lighten(#24425a, 10%);
    }
  }
}

@media (min-width: 992px) {
  .footer-items {
    flex-direction: row;

    .contact-info {
      width: 50%;
    }
  }
}
