.jumbotron {
  margin-top: -81.75px;
  margin-bottom: 0;
  width: 100%;
  height: 640px;
  background: #eeeeee url(../../assets/img/home/back-01.png) center top no-repeat;
  background-size: cover;

  .container {
    .row {
      margin-top: 150px;
      position: relative;
      .intro-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
        .intro-text {
          h2 {
            font-size: 34px;
            font-weight: 600;
            color: #24425a;
            text-align: center;
          }
        }
      }
    }
  }
}


@media (min-width: 992px) {
  .jumbotron{
    .container {
      margin-top: 150px;
      .row {
        .intro-info {
          align-items: flex-start;
          .intro-text {
            h2 {
              font-size: 42px !important;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .intro-info {
    margin-top: 75px;
  }

  .intro-img {
    position: absolute;
    top: 200px;
  }
}
