.btn {
  max-width: 200px;
  color: #eeeeee;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Helvetica', sans-serif;
  padding: 10px 24px;
  letter-spacing: 1px;

  &:focus {
    box-shadow: none;
  }

  &:active {
    transform: translateY(1px);
  }

  &.form {
    font-weight: 300;
  }
}

.btn-dark-blue {
  background-color: #24425a;

  &:hover {
    background-color: darken(#24425a, 10%);
    color: #eeeeee;
  }
}
