.card {
  border: 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(65, 62, 102, 0.2);
  transition: all .3s ease-in-out;
  padding: 24px 0;
  position: inherit;
  margin-bottom: 40px;
  background-color: #24425a;
  height: 500px;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 15px rgba(65, 62, 102, 0.2);
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
}

.card-plan {
  color: #eee;

  &__title {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }

  &__price {
    font-size: 12px;
    margin: 0;
    font-style: italic;
    font-weight: 100;
  }
}

.card-feature {
  background-color: #eee;
  margin: 15px 20px;
  border-radius: 5px;

  ul {
    list-style: none;
    color: #24425a;
    margin: 0 auto;
    padding: 0;

    li {
      font-size: 14px;
      padding: 5px 20px;

      &:not(:last-child) {
        border-bottom: 1px solid #24425a;
      }
    }
  }
}
